@font-face {
    font-family: 'Santio bold';
    src: url(../fonts/TTF/Santio_Bold.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Santio bold';

}

.parallax {
    background-image: url("../img/cleo-topper.jpg");

    /* Set a specific height */
    min-height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    display: flex;
    justify-content: end;
    padding: 4vh 10% 0 0;
    align-items: baseline;
}

body nav a {
    font-size: 25px;
    color: white;
    padding-left: 20px;
    text-decoration: underline #e7bc0e;
}

.heart {
    width: 30px;
}

.first_p {
    font-family: 'Boldline';
    width: 25%;
    font-size: 80px;
    color: white;
    word-wrap: break-word;
    margin-top: 30vh;
    margin-left: 10%;
}

.scroll_more {
    font-size: 30px;
    color: #e7bc0e;
    font-family: Block;
    margin-top: 10vh;
    margin-left: 10%;
    margin-bottom: 50vh;
}

.kleiner_pfeil {
    transform: rotate(90deg);
}

.long_text {
    color: #6bc1a3;
    font-size: 32px;
    width: 50%;
    margin-left: 15%;
    line-height: 70px;
    margin-bottom: 70vh;
}

.spanintext {
    color: white;
    font-size: 32px;
}

.stat_img {
    width: 10%;
    margin-left: 10%;
    margin-bottom: 30vh;
}

.p_mill {
    font-size: 180px;
    color: #e7bc0e;
    margin-left: 10%;
}

.p_domestic {
    font-size: 50px;
    color: #e7bc0e;
    margin-left: 10%;
    margin-bottom: 40vh;
}

.span_united {
    font-size: 50px;
    color: #ffffff;
    background-color: rgb(65, 62, 62);
    padding: 2px 2px 6px 2px;
    border-radius: 5px;
}

.pay_img {
    width: 10%;
    margin-left: 10%;
    margin-bottom: 10vh;
}

.p_are {
    font-size: 50px;
    color: #cb91b6;
    margin-left: 10%;
}

.span_paid {
    font-size: 50px;
    color: white;
    background-color: rgb(65, 62, 62);
}

.dollar_13 {
    font-size: 180px;
    margin-left: 10%;
    color: #cb91b6;
    margin-bottom: 30vh;
}

.health_img {
    width: 10%;
    margin-left: 10%;
    margin-bottom: 10vh;
}

.pprozent {
    font-size: 180px;
    margin-left: 10%;
    color: #6bc1a3;
    margin-bottom: 5vh;
}

.p_have {
    margin-left: 10%;
    font-size: 50px;
    color: #6bc1a3;
    margin-bottom: 20vh;
}

.span_health {
    font-size: 50px;
    color: white;
    background-color: rgb(65, 62, 62);
    padding: 2px 2px 6px 2px;
    border-radius: 5px;
}

.p_workers {
    width: 67%;
    margin-left: 40%;
    padding-right: 12%;
    padding-bottom: 20vh;
    font-size: 32px;
    color: #7eb8e1;
    line-height: 70px;
    margin-bottom: -20px;
}

.span_narrative {
    font-size: 32px;
    color: white;
    background-color: rgb(65, 62, 62);
}

.kids_img {
    width: 100%;
    vertical-align: bottom;

}

footer {
    background-color: black;
}

.p_you {
    font-size: 100px;
    width: 55%;
    margin-left: 10%;
    padding-top: 20vh;
    color: white;
    padding-top: 30%;
    padding-bottom: 20vh
}

input {
    padding: 30px 60px;
    margin-left: 10%;
    border: solid white;
    background-color: black;
    color: white;
    margin-bottom: 10vh;
    border-radius: 1px;
    margin-bottom: 20vh;
}

.button:hover {
    box-shadow: 10px 10px white;
    cursor: pointer;
    margin-bottom: 20vh;
}

.last {
    display: flex;
    justify-content: center;
    color: white;
    align-items: baseline;
}

.ROMA {
    font-size: 20px;
    color: #6bc1a3;
    text-decoration: none;
    padding-left: 5px;
}